
/* پایه اصلی برنامه */
.stApp {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* متن های markdown */
.stMarkdown,
.stMarkdown *{
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}
[data-testid="stMarkdownContainer"],
[data-testid="stMarkdownContainer"] * {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* عنوان‌ها و متن‌های عمومی */
.stApp h1,
.stApp h2,
.stApp h3,
.stApp h4,
.stApp h5,
.stApp h6,
.stApp p,
.stApp label {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}


/* ورودی ها */
.stApp input,
.stApp textarea,
.stApp button,
.stApp label{
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* selectbox, number_input کامپوننت‌های , BaseWeb */
[data-baseweb],
[data-baseweb] * :not(svg):not(path) {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* metrics */
[data-testid="stMetric"],
[data-testid="stMetric"] * {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* جدول‌ها */
[data-testid="stDataFrame"],
[data-testid="stDataFrame"] * :not(svg):not(path),
[data-testid="stTable"],
[data-testid="stTable"] * :not(svg):not(path) {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* تب‌ها */
[data-testid="stTabs"],
[data-testid="stTabs"] *:not(svg):not(path) {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}

/* فقط متن‌های markdown داخل سایدبار، نه دکمه‌ها و آیکون‌ها */
section[data-testid="stSidebar"] [data-testid="stMarkdownContainer"],
section[data-testid="stSidebar"] [data-testid="stMarkdownContainer"] * {
    font-family: "Vazirmatn", Tahoma, Arial, sans-serif;
}